## LAB 5 - LINEAR REGRESSION ON 2D AND MULTI-DIMENSIONAL DATASETS (25.01.25)

## AIM
To apply Linear Regression on a 2D datasetand multi-dimensional dataset (both using make_regression) and compare their results.

## ALGORITHM 1 (make_regression dataset for two-dimensional data)
1. **Import necessary modules and make the 2D Dataset**
   
- Import all the modules needed to acclomplish the task.
- Generates a synthetic regression dataset with 100 samples, 2 features, and added noise of 10 to make the task more realistic, with a fixed random seed for reproducibility.

2. **Create a data frame**
   
Make the dataset into a DataFrame, including the target variable for clear understanding.

3. **Perform initial data exploration**
   
Describe the data and get information on it. Check if any of the features have missing values.

4. **Apply train_test_split to split data into training and testing subsets**
- Training data: Used to train the model.
- Testing data: Used to evaluate the model's performance. Use a split ratio, e.g., 60% for training and 40% for testing.

5. **Train the model**
   
Initialize a Linear Regression model to make predictions. After that apply the fit method to train it.

6. **Make predictions**

- Make predictions to find the r2 score (the proportion of the variance in the dependent variable that is explained by the independent variable(s) in a regression model) and mean squared error of the test set with respect to the training set.
- Display their values


## ALGORITHM 2 (make_regression dataset for multi-dimensional data)
1. **Make the Multi-Dimensional Dataset**
   
- The modules to be imported are present in the beginning
- Generates a synthetic regression dataset with 100 samples, 10 features, and added noise of 10 to make the task more realistic, with a fixed random seed for reproducibility.

2. **Create a data frame**
   
Make the dataset into a DataFrame, including the target variable for clear understanding.

3. **Perform initial Data exploration**
   
Describe the data and get information on it. Check if any of the features have missing values.

4. **Apply train_test_split to split data into training and testing subsets**
- Training data: Used to train the model.
- Testing data: Used to evaluate the model's performance. Use a split ratio, e.g., 60% for training and 40% for testing.

5. **Train the model**
   
Initialize a Linear Regression model to make predictions. After that apply the fit method to train it.

6. **Make predictions**

- Make predictions to find the r2 score (the proportion of the variance in the dependent variable that is explained by the independent variable(s) in a regression model) and mean squared errorof the test set with respect to the training set.
- Display their values

## DESCRIPTION
Linear regression is a supervised learning algorithm used for predicting a continuous target variable (y) based on one or more input features (X). It assumes a linear relationship between the input features and the target variable

## CODE AND OUTPUT

In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [3]:
X, y = make_regression(n_samples=100, noise=10, n_features=2, random_state=42)

In [4]:
df = pd.DataFrame(X,columns=["X1","X2"])
df["y"]=y
df

          X1        X2           y
0  -1.191303  0.656554  -49.265023
1   0.058209 -1.142970  -85.162387
2   0.586857  2.190456  211.225658
3   0.473238 -0.072829   29.196562
4   0.738467  0.171368   84.348096
..       ...       ...         ...
95  0.361396  1.538037  147.505343
96  0.296120  0.261055   32.710111
97 -0.990536 -0.566298 -141.334380
98 -0.460639  1.057122   48.782598
99  0.259883  0.781823   70.901315

[100 rows x 3 columns]

In [5]:
df.isnull().sum()

X1    0
X2    0
y     0
dtype: int64

In [6]:
df.describe()

               X1          X2           y
count  100.000000  100.000000  100.000000
mean    -0.115564    0.034022   -7.200842
std      0.856313    0.998859  106.644219
min     -2.619745   -1.987569 -201.720972
25%     -0.722353   -0.662428  -82.623261
50%     -0.035269    0.132324  -15.972235
75%      0.348063    0.670915   71.610539
max      1.886186    2.720169  211.225658

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42, test_size=0.4)

In [8]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [9]:
y_pred=model.predict(X_test)

In [10]:
print("R2 Score: ", r2_score(y_test,y_pred))

R2 Score:  0.988687042966139

In [11]:
print("Mean Squared Error: ", mean_squared_error(y_test,y_pred))

Mean Squared Error:  112.8927218112822

In [12]:
X2, y2 = make_regression(n_features=10,n_samples=100,noise=10,random_state=42)

In [13]:
df2 = pd.DataFrame(X2, columns=["X1","X2","X3","X4","## Import necessary modules X5","X6","X7","X8","X9","X10"])
df2["y"]=y2
df2

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,y
0,-0.926930,-1.430141,1.632411,-3.241267,-1.247783,-1.024388,0.130741,-0.059525,-0.252568,-0.440044,-497.169891
1,0.202923,0.334457,0.285865,1.547505,-0.387702,1.795878,2.010205,-1.515744,-0.612789,0.658544,423.321832
2,-0.241236,0.456753,0.342725,-1.251539,1.117296,1.443765,0.447709,0.352055,-0.082151,0.569767,203.267413
3,0.289775,-1.008086,-2.038125,0.871125,-0.408075,-0.326024,-0.351513,2.075401,1.201214,-1.870792,-192.385151
4,-0.007973,-0.190339,-1.037246,0.077368,0.538910,-0.861284,-1.382800,1.479944,1.523124,-0.875618,-190.251495
...,...,...,...,...,...,...,...,...,...,...,...
95,0.113517,0.588317,-0.151785,1.586017,-1.952088,-1.237815,-0.622700,0.662131,2.133033,0.280992,-161.790696
96,0.208383,0.640843,1.797687,-0.247177,-0.281100,-0.681984,0.572583,-2.041735,-1.001620,-0.571179,-68.249782
97,0.496714,0.767435,1.579213,0.647689,-0.234137,1.523030,0.542560,-0.138264,-0.234153,-0.469474,205.699722
98,-0.049464,2.455300,0.289169,-1.122722,0.492451,0.382410,-0.530997,0.674819,0.166452,-0.637740,50.644065
99,0.361396,-0.299007,0.087047,-0.035826,0.821903,1.564644,-1.987569,1.538037,-2.619745,0.091761,9.837253

In [14]:
df2.isnull().sum()

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
y      0
dtype: int64

In [15]:
df2.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,y
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.003618,0.038018,-0.047772,-0.048511,-0.032549,0.108974,0.058295,0.002578,0.079499,0.031172,12.330695
std,0.894297,0.904248,0.954652,1.026363,0.976823,1.016550,1.022648,1.047359,1.042712,0.921830,191.496004
min,-1.918771,-2.423879,-2.696887,-3.241267,-2.211135,-2.198806,-1.987569,-2.301921,-2.619745,-2.650970,-497.169891
25%,-0.574156,-0.572616,-0.776155,-0.700307,-0.705970,-0.678367,-0.628305,-0.710363,-0.622252,-0.532816,-107.061480
50%,0.079078,0.094496,0.013466,-0.023125,-0.063027,0.200009,-0.014331,-0.052911,-0.027014,0.064005,13.427669
75%,0.532233,0.601449,0.530416,0.636509,0.637617,0.853640,0.697232,0.804413,0.815031,0.552765,145.247673
max,2.526932,2.455300,1.886186,2.560085,2.632382,2.463242,3.852731,2.075401,2.573360,3.078881,466.030476

In [16]:
X2_train,X2_test,y2_train,y2_test = train_test_split(X2,y2,test_size=0.4,random_state=42)

In [17]:
model2=LinearRegression()
model2.fit(X2_train,y2_train)

LinearRegression()

In [18]:
y2_pred = model2.predict(X2_test)

In [19]:
print("R2 Score: ",r2_score(y2_test,y2_pred))

R2 Score:  0.997481517520893

In [20]:
print("Mean squared error: ",mean_squared_error(y2_test,y2_pred))

Mean squared error:  119.90392306545327

## RESULT
Higher error (MSE) in a multi-dimensional regression model is expected due to increased model complexity, but better accuracy (R²) suggests the model is capturing more of the target's variance, though overfitting should still be monitored.